.container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
    cursor: pointer;
    color: var(--light-gray);
    font-size: 14px;
    user-select: none;
}

.checkbox {
    accent-color: var(--highlight-green);
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}
